# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Django
*.sqlite3
db.sqlite3

# Environment
.env

# Static and media files
staticfiles/
media/

# Logs
*.log

# Mac-specific
.DS_Store

# VS Code and PyCharm settings (optional)
.vscode/
.idea/
